include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.md


recursive-exclude * __pycache__
recursive-exclude * *.py[co]

prune tests

recursive-include data *
recursive-include src *

include example *
include example/README.md

exclude msgsteiner9
exclude .* *.ini
recursive-exclude garnet_forest.egg-info *




